// About Us Styles
@use "variables" as *;
@use "mixins" as *;
// @use "mixins" as *;

.about {
    background-image: url(/images/bg-section-about-us.jpg);
    background-size: cover;
    background-position: center center;
    

    h2{
        color: $light;
        margin: 0 auto;
        padding: 10rem 2rem 0rem;
        line-height: 1.8rem;
    }

    p{
        color: $light;
        margin: 0 auto;
        line-height:0.9rem;
        font-size: 0.8rem;
        padding: 1.5rem 3rem 1rem;
    }

    button{
        @include btn;
        margin: 2em 0em 5em;
        padding: 0.6em 1.8em;
        font-size: 0.9em;
        font-weight: $bold;
    }

    @media (min-width: $tabletPortrait){
        h2{
            font-size: 2.5em;
            line-height: 1.2em;
            padding: 6rem 3rem 1rem;
        }

        p{
            font-size: 1.1em;
            line-height: 1.2em;
            padding: 2em 9em 3em;
        }

        button{
            font-size: 1.2em;
        }
    }

    @media (min-width: $desktopMedium){
        h2{
            padding: 2.5em 7em 1em;
            font-size: 2.8em;
        }

        p{
            font-size: 0.8em;
            padding: 1em 24em 1em;
        }

        button{
            font-size: 0.8em;
            padding: 0.7em 3.8em;
            
        }
    }
}