// Contact Us & Find A Vulcan Install Styles
@use "variables" as *;
@use "mixins" as *;

.vulcan-install {
  background-image: url("../images/map.jpg");
  color: $light;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  a {
    color: $light;
    &:hover {
      color: $light;
    }
  }
  h2 {
    font-size: 20px;
    font-weight: $bold;
    margin-bottom: 20px;
    color: $dark;
  }
}

.contact {
    background-image: url("../images/wave-blue-dark.png");
    color: $light;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    a {
        color: $light;
        &:hover {
        color: $light;
        }
    }
    h2 {
        font-size: 20px;
        font-weight: $bold;
        color: $light;
        margin: 1rem 20vw 0.5rem 20vw;
    }
}