// Contact Us & Find A Vulcan Install Styles
@use "variables" as *;
@use "mixins" as *;

.vulcan-install {
    background-image: url(/images/map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    color: $light;
    padding: 80px 0;
    a {
        color: $light;
    }
    h2 {
        font-size: 1.5em;
        font-weight: $bold;
        padding: 0 10vw;
        color: #504f4f;
    }
    button {
        @include btn;
        color: #504f4f;
        border: 1px solid black; 
        margin: 0 0 20px 0;
        padding: 0.6em 1.8em;
        font-size: 0.9em;
        font-weight: $bold;
    }
}

.contact {
    background-color: $pri-da;
    color: $light;
    padding-top: 10px;
    h2 {
        font-size: 1.5em;
        font-weight: $bold;
        color: $light;
        margin: 2rem 20% 0 20%;
    }
    button {
        @include btn;
        margin: 1rem auto 3rem auto;
        padding: 0.6em 1.8em;
        font-size: 0.9em;
        font-weight: $bold;
    }
}

@media (min-width: $tabletPortrait){
    .vulcan-install {
        width: 50%;
        button {
            background-color: $pri;
            color: $light;
            border: none;
        }
    }
    .contact {
        width: 50%;
        button {
            background-color: $pri;
            border: none;
        }
    }
    .contact-wrapper {
        background-color: $pri-da;
        display: flex;
        align-items: center;
    }
}