// Footer Styles
@use "variables" as *;
// @use "mixins" as *;

.footer-wave-container {
  z-index: 1;
  position: relative;
  top: -2rem;
}

.footer {
    background-color: $pri;
    margin-top: -2.4rem;
    padding-bottom: 1px;
    .footer-logo {
        margin-bottom: 1rem;
        img {
          width: 100px;
        }
    }
    .footer-menu ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        li {
          margin: 0 10px;
          list-style: none;
          a {
            color: $light;
          }
        }
    }
    .footer-menu ul li a {
        font-size: 10px;
        font-weight: $bold;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .social-icon {
        width: 30px;
        height: 30px;
    }
    .contact-icon {
        width: 20px;
        height: 20px;
        filter: contrast(0) brightness(200%);
    }
    p {
        font-size: 10px;
        font-weight: $medium;
        text-transform: uppercase;
        color: $light;
    }
}