// Footer Styles
@use "variables" as *;
// @use "mixins" as *;

.footer {
  background-color: $pri;
  padding-top: 1.3rem;
  padding-bottom: 1px;
  .footer-logo {
    margin-bottom: 1rem;
    img {
      width: 100px;
    }
  }
  .footer-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
    li {
      margin: 0 10px;
      list-style: none;
      a {
        color: $light;
      }
    }
  }
  .footer-menu ul li a {
    font-size: 10px;
    font-weight: $bold;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  p {
    font-size: 10px;
    font-weight: $medium;
    text-transform: uppercase;
    color: $light;
  }

  @media (min-width:$tabletPortrait){
    .footer-content {
      display:flex;
      justify-content: space-evenly;
    }
  }
}
