@use "sass:math";

// Mixins
@use "variables" as *;

// light/transparent button:
@mixin btn($col: $light, $bg-col: transparent) {
  background-color: $bg-col;
  border: 1.7px solid $col;
  color: $light;
  padding: 0.7rem 0.7rem;
  cursor: pointer;
  text-transform: uppercase;
}
