// Products Styles
@use "variables" as *;
// @use "mixins" as *;

.products-list {
  margin: 1rem auto 2rem auto;
  display: grid;
  // justify-content: space-around;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: repeat(4, 1fr);

  h3 {
    text-align: left;
    justify-self: start;
    padding: 0 1.5rem;
    margin: 0;
  }

  img {
    // width: 10rem;
    justify-self: end;
    padding: 1.5rem 0 1.5rem 0.5rem;
  }

  .machine01-heading,
  .machine02-heading,
  .machine03-heading,
  .machine04-heading {
    align-self: stretch;
    display: flex;
    align-items: center;
  }

  .machine01-img,
  .machine02-img,
  .machine03-img,
  .machine01-heading,
  .machine02-heading,
  .machine03-heading {
    border-bottom: 2px solid $gray1;
  }

  // 420px
  @media (min-width: $phonePortrait) {
  }

  // 850px
  @media (min-width: $tabletPortrait) {
  }

  // 1251px
  @media (min-width: $desktopMedium) {
  }
}
