// Search Filters / Product Advisor Styles
@use "variables" as *;
// @use "mixins" as *;

.search {
    background-color: #154a66;
    h1 {
        margin: 0;
        padding: 0;
        color: $light;
    }
    p {
        margin: 0.2rem 0 0 0;
        color: $light;
        border-bottom: 1px solid ;
    }
    margin: 0 auto;
    padding: 0;
}