// Search Filters / Product Advisor Styles
@use "variables" as *;
// @use "mixins" as *;

.search {
  background-color: $pri-da;
  padding-bottom: 3rem;
  margin-top: -1px;
  h1 {
    margin: 0;
    padding: 0;
    color: $light;
  }
  p {
    margin: 0.2rem 0 0 0;
    color: $light;
  }
  .white-line {
    background-color: $light;
    height: 1px;
    width: 90%;
    margin: 1rem 5%;
  }
  form {
    label {
      display: block;
      color: $light;
      text-align: left;
      font-size: 0.8rem;
      font-weight: 800;
      text-transform: capitalize;
      margin: 0 0 0.5rem 5vw;
    }
    select {
      background-color: #bbbbbb;
      color: #646464;
      display: block;
      font-weight: $medium;
      width: 90%;
      padding: 0.5rem;
      margin: 0 5vw 1.2rem 5vw;
    }
    select:focus {
      background-color: $light;
    }
    input[type="submit"] {
      display: block;
      background-color: #429bd6;
      border: none;
      color: $light;
      text-transform: uppercase;
      width: 90%;
      padding: 0.7rem;
      margin: 2.8rem 5% 0 5%;
    }
    option {
      color: #646464;
      font-weight: $medium;
    }
  }
  @media (min-width: $tabletPortrait) {
    p {
      color: $pri;
    }
    form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      select {
        width: 80%;
      }
      input[type="submit"] {
        width: 100%
      }
      .form-group {
        width: 50%;
      }
    }
  }
  @media (min-width: $desktopMedium) {
    form {
      justify-content: flex-start;
      gap: 2.5%;
      select {
        width: 100%;
      }
      .form-group {
        width: 16%;
      }
    }
  }
}
