// Video Styles
@use "variables" as *;

.video {
  background-color: $pri;
  padding: 4em 10vw;
  margin: 0 auto;

  iframe {
    background-color: green;
  }

  // //850px
  @media (min-width: $tabletPortrait) {
    padding: 4em 15vw;
  }

  //1402px
  @media (min-width: 87.62em) {
    padding: 5em 18vw;
  }
}
